body {
    background-color: #fff;
    color: #000;
}

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 16px;
}

a,
a:visited {
    color: #000;
}

a:hover,
a:focus,
a:active {
    color: #3f48cc;
}


h1 {
    font-weight: normal;
    font-size: 32px;
}

h2 {
    font-weight: normal;
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    line-height: 1.2em;
}

.header {
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header .logo img {
    width: 250px;
}

.header .logo .title {
    line-height: 1.2rem;
    font-weight: 300;
}

.header {
    padding: 20px 0;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .item {
    min-width: 280px;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header .item-2,
.header .item-3 {
    position: relative;
    padding-left: 60px;
}

.header .item-2 img,
.header .item-3 img {
    position: absolute;
    top: 5px;
    left: 0;
    width: 50px;
}

.header .item-4 {
    text-align: right;
}

.header .logo {
    display: block;
    color: #222;
}

.header .logo .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.header .logo .description {
    color: #888;
}

.header .subheading {
    color: #888;
    font-size: 12px;
    margin: 5px 0;
}

.header .address a {
    text-decoration: underline;
}

.header a {
    display: block;
    color: #222;
}

.header a:hover {
    color: #3f48cc;
}

.header .phone {
    font-size: 20px;
    text-decoration: none;
}

.header .item-4 .button:first-child {
    margin-bottom: 10px;
}

.header_top {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1300px;
}

.underline {
    text-decoration: underline;
}

.underline:hover {
    text-decoration: none;
}

.buttons .button {
    background-color: #3f48cc;
    color: #fff;
    border-color: #3f48cc;
    border-radius: 20px;
    min-width: 240px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 20px;
}

.button {
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #3f48cc;
    border-radius: 2px;
    text-align: center;
    text-decoration: none !important;
}

.buttons .button {
    max-width: 260px;
    margin: 0;
    margin-bottom: 10px;
}

.buttons {
    margin: 0 -5px;
}

.buttons .button:hover {
    background-color: #fff;
    border-color: #3f48cc;
    color: #3f48cc;
}


button,
a.button,
a.button:visited {
    color: #fff;
    background-color: #3f48cc;
}

button:hover,
a.button:hover,
button:focus,
a.button:focus {
    color: #3f48cc;
    background-color: #fff;
}


button,
a.button,
a.button:visited {
    color: #fff;
    background-color: #3f48cc;
}

button:hover,
a.button:hover,
button:focus,
a.button:focus {
    color: #fff;
    background-color: #3f48cc;
}

.registration {
    position: absolute;
    height: 400px;
    width: 300px;
    display: block;
    background-color: #fff;
    color: #3f48cc;
    margin: 50px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #3f48cc;
    border-radius: 35px;
}

.hidden {
    display: none;
}

.activated {
    display: block;
    position: fixed;
}



/------------------------------------/


