/*style*/
.header .logo img {
    width: 200px;
}

.header .logo .title {
    line-height: 1.2rem;
    font-weight: 300;
}

.header {
    padding: 20px 0;
}

.header .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .item {
    min-width: 280px;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header .item-2,
.header .item-3 {
    position: relative;
    padding-left: 60px;
}

.header .item-2 img,
.header .item-3 img {
    position: absolute;
    top: 5px;
    left: 0;
    width: 50px;
}

.header .item-4 {
    text-align: right;
}

.header .logo {
    display: block;
    color: #222;
}

.header .logo .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.header .logo .description {
    color: #888;
}

.header .subheading {
    color: #888;
    font-size: 12px;
    margin: 5px 0;
}

.header .address a {
    text-decoration: underline;
}

.header a {
    display: block;
    color: #222;
}

.header a:hover {
    color: #7c132d;
}

.header .phone {
    font-size: 20px;
}

.header .item-4 .button:first-child {
    margin-bottom: 10px;
}

.header_top{
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1300px;
}

/*.inner {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 0px;
}*/

.underline {
    text-decoration: underline;
}

.underline:hover {
    text-decoration: none;
}

.button-transparent {
    color: #222 !important;
    background: transparent !important;
    border-color: #c9d1d9 !important;
}

.button-transparent:hover {
    border-color: #283891 !important;
}

.button,
input[type="submit"] {
    color: #fff !important;
    padding: 15px 30px;
    border: 1px solid #9e1b3b;
    border-radius: 2px;
    text-align: center;
    text-decoration: none !important;
}

.button:hover,
input[type="submit"]:hover {
    border-color: #7c132d;
}


.button-transparent {
    color: #222 !important;
    background: transparent !important;
    border-color: #c9d1d9 !important;
}

.button-transparent:hover {
    border-color: #283891 !important;
}

.buttons {
    margin: 0 -5px;
}

.buttons .button {
    min-width: 240px;
    margin: 0 5px;
    margin-bottom: 10px;
}

.buttons {
    margin: 0 -5px;
}

.buttons .button {
    min-width: 240px;
    margin: 0 5px;
    margin-bottom: 10px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.button:visited {
    color: #ffffff;
    background-color: #9e1b3b;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
a.button:focus {
    color: #ffffff;
    background-color: #7c132d;
}

/*style*/
-----------------------------------------------

/*HEADER*/
.header {
    padding: 20px 0;
}

/*HEADER*/

/*FLEX*/
.flex,
.columns-2 {
    display: flex;
    flex-wrap: wrap;
}

/*FLEX*/
-----------------------------------------------

/*HEAD*/
body {
    background-color: #ffffff;
    color: #222222;
}

a,
a:visited {
    color: #222222;
}

a:hover,
a:focus,
a:active {
    color: #9e1b3b;
}

body,
button,
input,
select,
textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 32px;
}

h2 {
    font-weight: normal;
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    line-height: 1.2em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select {
    color: #222222;
    background-color: #ffffff;
    border-color: #f2f4f6;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    color: #222222;
    background-color: #ffffff;
    border-color: #f2f4f6;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.button:visited {
    color: #ffffff;
    background-color: #9e1b3b;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
a.button:focus {
    color: #ffffff;
    background-color: #7c132d;
}

/*HEAD*/
